* {
    font-family: 'Lato', sans-serif;
}

.shop-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Shop Nav Bar */
.shop-nav-item {
    color: rgba(2, 48, 71, 0.8);
}
.shop-nav-item:hover,
.shop-nav-item:active {
    color: rgba(2, 48, 71, 1);
}

/* Search Bar */
.form-search-custom .search-custom {
    color: black;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
}
.form-search-custom .search-custom:focus {
    color: black;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    box-shadow: none;
}

.search-result {
    position: absolute;
    z-index: 999;
    top: 100%;
    background-color: #1c1a18;
    min-width: 210px;
}
/* Formatting search-result items */
.search-result p {
    color: black;
    margin: auto;
    padding: 7px 10px;
    padding-right: 20px;
    border: 1px solid #444444;
    border-top: none;
    cursor: pointer;
}
.search-result p:hover {
    background: #444444;
}
.form-search-custom,
.form-search-custom i {
    caret-color: #444444;
    color: #444444;
}

#cart {
    color: rgba(28, 26, 24, 1);
}
#cart:hover {
    color: rgba(28, 26, 24, 0.5);
}

.shop-holder.form-search-custom {
    width: 10px;
}

.card-body h5 {
    font-size: 1.05rem;
    font-weight: bold;
}

.card.card-container {
    height: 22.5rem;
    width: 15rem;
    border: 1px solid rgba(0, 0, 0, 0.75);
}

.card-img-top {
    height: 14.85rem;
    width: 14.85rem;
    object-fit: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.input-quantity {
    width: 50px;
    height: 25px;
    text-align: center;
}

.btn.cart-button {
    background-color: #fdcd53;
    border: 1px solid #000000;
    color: black;
    margin: 5px;
    padding: 3px 10px 3px 10px;
}
.btn.cart-button:hover {
    background-color: #ecf75ff1;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24),0 3px 3px 0 rgba(0,0,0,0.19);
    color: black;
}

@media screen and (max-width: 768px){
    .container-fluid.shop-holder {
        width: 95%;
    }

    .card.card-container {
        height: 19rem;
        width: 12rem;
        border: 1px solid rgba(0, 0, 0, 0.75);
    }

    .card .card-img-top {
        height: 12rem;
        width: 12rem;
        object-fit: contain;
        border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    }
}

@media screen and (max-width: 576px){
    .container-fluid.shop-holder {
        width: 97%;
    }
    
    .card.card-container {
        height: 17rem;
        width: 10rem;
        border: 1px solid rgba(0, 0, 0, 0.75);
    }

    .card .card-img-top {
        height: 10rem;
        width: 10rem;
        object-fit: contain;
        border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    }
}